# World Happines Analysis

## Content
### 01. Importing libraries and data
### 02. Converting data type strings to float
### 03. Exporting data

## 01. Importing libraries and data

In [5]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [6]:
# Create Path
path=r'C:\Users\Oksana Stepanova\OneDrive\Документи\World Happiness\02 Data\Prepared Data'

In [7]:
# 2015 Import data
wh_2015=pd.read_csv(os.path.join(path, 'wh_2015_wrangled.csv'))

In [8]:
wh_2015.shape

(158, 12)

In [9]:
wh_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   158 non-null    int64
 1   country                      158 non-null    object
 2   year                         158 non-null    int64
 3   happiness_rank               158 non-null    int64
 4   happiness_score              158 non-null    float64
 5   economy_GDP_per_capita       158 non-null    float64
 6   family                       158 non-null    float64
 7   health_life_expectancy       158 non-null    float64
 8   freedom                      158 non-null    float64
 9   trust_government_corruption  158 non-null    float64
 10  generosity                   158 non-null    float64
 11  dystopia_residual            158 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 14.9+ KB

In [10]:
# 2016-2023 Import data
wh_2016=pd.read_csv(os.path.join(path, 'wh_2016_wrangled.csv'))
wh_2017=pd.read_csv(os.path.join(path, 'wh_2017_wrangled.csv'))
wh_2018=pd.read_csv(os.path.join(path, 'wh_2018_wrangled.csv'))
wh_2019=pd.read_csv(os.path.join(path, 'wh_2019_wrangled.csv'))
wh_2020=pd.read_csv(os.path.join(path, 'wh_2020_wrangled.csv'))
wh_2021=pd.read_csv(os.path.join(path, 'wh_2021_wrangled.csv'))
wh_2022=pd.read_csv(os.path.join(path, 'wh_2022_wrangled.csv'))
wh_2023=pd.read_csv(os.path.join(path, 'wh_2023_wrangled.csv'))

In [11]:
wh_2016.shape

(157, 12)

In [12]:
wh_2017.shape

(155, 12)

In [13]:
wh_2018.shape

(156, 12)

In [14]:
wh_2019.shape

(156, 12)

In [15]:
wh_2020.shape

(153, 12)

In [16]:
wh_2021.shape

(149, 12)

In [17]:
wh_2022.shape

(147, 12)

In [18]:
wh_2023.shape

(137, 12)

In [19]:
wh_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   157 non-null    int64
 1   country                      157 non-null    object
 2   year                         157 non-null    int64
 3   happiness_rank               157 non-null    int64
 4   happiness_score              157 non-null    float64
 5   economy_GDP_per_capita       157 non-null    float64
 6   family                       157 non-null    float64
 7   health_life_expectancy       157 non-null    float64
 8   freedom                      157 non-null    float64
 9   trust_government_corruption  157 non-null    float64
 10  generosity                   157 non-null    float64
 11  dystopia_residual            157 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 14.8+ KB

In [20]:
wh_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   155 non-null    int64
 1   country                      155 non-null    object
 2   year                         155 non-null    int64
 3   happiness_rank               155 non-null    int64
 4   happiness_score              155 non-null    float64
 5   economy_GDP_per_capita       155 non-null    float64
 6   family                       155 non-null    float64
 7   health_life_expectancy       155 non-null    float64
 8   freedom                      155 non-null    float64
 9   trust_government_corruption  155 non-null    float64
 10  generosity                   155 non-null    float64
 11  dystopia_residual            155 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 14.7+ KB

In [21]:
wh_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   156 non-null    int64
 1   country                      156 non-null    object
 2   year                         156 non-null    int64
 3   happiness_rank               156 non-null    int64
 4   happiness_score              156 non-null    float64
 5   economy_GDP_per_capita       156 non-null    float64
 6   family                       156 non-null    float64
 7   health_life_expectancy       156 non-null    float64
 8   freedom                      156 non-null    float64
 9   trust_government_corruption  155 non-null    float64
 10  generosity                   156 non-null    float64
 11  dystopia_residual            156 non-null    int64
dtypes: float64(7), int64(4), object(1)
memory usage: 14.8+ KB

In [22]:
wh_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   156 non-null    int64
 1   country                      156 non-null    object
 2   year                         156 non-null    int64
 3   happiness_rank               156 non-null    int64
 4   happiness_score              156 non-null    float64
 5   economy_GDP_per_capita       156 non-null    float64
 6   family                       156 non-null    float64
 7   health_life_expectancy       156 non-null    float64
 8   freedom                      156 non-null    float64
 9   trust_government_corruption  156 non-null    float64
 10  generosity                   156 non-null    float64
 11  dystopia_residual            156 non-null    int64
dtypes: float64(7), int64(4), object(1)
memory usage: 14.8+ KB

In [23]:
wh_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   153 non-null    int64
 1   country                      153 non-null    object
 2   year                         153 non-null    int64
 3   happiness_rank               153 non-null    int64
 4   happiness_score              153 non-null    float64
 5   economy_GDP_per_capita       153 non-null    float64
 6   family                       153 non-null    float64
 7   health_life_expectancy       153 non-null    float64
 8   freedom                      153 non-null    float64
 9   trust_government_corruption  153 non-null    float64
 10  generosity                   153 non-null    float64
 11  dystopia_residual            153 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 14.5+ KB

In [24]:
wh_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   149 non-null    int64
 1   country                      149 non-null    object
 2   year                         149 non-null    int64
 3   happiness_rank               149 non-null    int64
 4   happiness_score              149 non-null    float64
 5   economy_GDP_per_capita       149 non-null    float64
 6   family                       149 non-null    float64
 7   health_life_expectancy       149 non-null    float64
 8   freedom                      149 non-null    float64
 9   trust_government_corruption  149 non-null    float64
 10  generosity                   149 non-null    float64
 11  dystopia_residual            149 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 14.1+ KB

In [25]:
wh_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   147 non-null    int64
 1   country                      147 non-null    object
 2   year                         147 non-null    int64
 3   happiness_rank               147 non-null    int64
 4   happiness_score              146 non-null    object
 5   economy_GDP_per_capita       146 non-null    object
 6   family                       146 non-null    object
 7   health_life_expectancy       146 non-null    object
 8   freedom                      146 non-null    object
 9   trust_government_corruption  146 non-null    object
 10  generosity                   146 non-null    object
 11  dystopia_residual            146 non-null    object
dtypes: int64(3), object(9)
memory usage: 13.9+ KB

In [26]:
wh_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   137 non-null    int64
 1   country                      137 non-null    object
 2   year                         137 non-null    int64
 3   happiness_rank               137 non-null    int64
 4   happiness_score              137 non-null    float64
 5   economy_GDP_per_capita       137 non-null    float64
 6   family                       137 non-null    float64
 7   health_life_expectancy       136 non-null    float64
 8   freedom                      137 non-null    float64
 9   trust_government_corruption  137 non-null    float64
 10  generosity                   137 non-null    float64
 11  dystopia_residual            137 non-null    int64
dtypes: float64(7), int64(4), object(1)
memory usage: 13.0+ KB

## 02 Converting data type strings to float

In [28]:
# 2019 Convert data type string to float
wh_2019['dystopia_residual']=wh_2019['dystopia_residual'].astype(float)

In [29]:
wh_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   156 non-null    int64
 1   country                      156 non-null    object
 2   year                         156 non-null    int64
 3   happiness_rank               156 non-null    int64
 4   happiness_score              156 non-null    float64
 5   economy_GDP_per_capita       156 non-null    float64
 6   family                       156 non-null    float64
 7   health_life_expectancy       156 non-null    float64
 8   freedom                      156 non-null    float64
 9   trust_government_corruption  156 non-null    float64
 10  generosity                   156 non-null    float64
 11  dystopia_residual            156 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 14.8+ KB

In [45]:
# 2022 Replace commas with dots
def replace_commas_with_dots(value):
    # Convert the value to a string if it isn't one already
    if isinstance(value, str):
        return value.replace(',', '.')
    return value

# List of columns to apply the replacement
columns_to_convert = [
    'happiness_score', 
    'economy_GDP_per_capita', 
    'family', 
    'health_life_expectancy', 
    'freedom', 
    'trust_government_corruption', 
    'generosity', 
    'dystopia_residual'
]

# Apply the function to each element in the specified columns
for column in columns_to_convert:
    wh_2022[column] = wh_2022[column].apply(replace_commas_with_dots)

In [46]:
wh_2022.head()

,Unnamed: 0,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,0,Finland,2022,1,7.821,1.892,1.258,0.775,0.736,0.534,0.109,2.518
1,1,Denmark,2022,2,7.636,1.953,1.243,0.777,0.719,0.532,0.188,2.226
2,2,Iceland,2022,3,7.557,1.936,1.320,0.803,0.718,0.191,0.270,2.320
3,3,Switzerland,2022,4,7.512,2.026,1.226,0.822,0.677,0.461,0.147,2.153
4,4,Netherlands,2022,5,7.415,1.945,1.206,0.787,0.651,0.419,0.271,2.137

In [47]:
wh_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   147 non-null    int64
 1   country                      147 non-null    object
 2   year                         147 non-null    int64
 3   happiness_rank               147 non-null    int64
 4   happiness_score              146 non-null    object
 5   economy_GDP_per_capita       146 non-null    object
 6   family                       146 non-null    object
 7   health_life_expectancy       146 non-null    object
 8   freedom                      146 non-null    object
 9   trust_government_corruption  146 non-null    object
 10  generosity                   146 non-null    object
 11  dystopia_residual            146 non-null    object
dtypes: int64(3), object(9)
memory usage: 13.9+ KB

In [48]:
# 2022 Convert data type string to float 
columns_to_convert = [
    'happiness_score', 
    'economy_GDP_per_capita', 
    'family', 'health_life_expectancy', 
    'freedom', 
    'trust_government_corruption', 
    'generosity', 
    'dystopia_residual' 
] 
wh_2022[columns_to_convert] = wh_2022[columns_to_convert].astype(float)

In [49]:
wh_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   147 non-null    int64
 1   country                      147 non-null    object
 2   year                         147 non-null    int64
 3   happiness_rank               147 non-null    int64
 4   happiness_score              146 non-null    float64
 5   economy_GDP_per_capita       146 non-null    float64
 6   family                       146 non-null    float64
 7   health_life_expectancy       146 non-null    float64
 8   freedom                      146 non-null    float64
 9   trust_government_corruption  146 non-null    float64
 10  generosity                   146 non-null    float64
 11  dystopia_residual            146 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 13.9+ KB

In [50]:
wh_2022.shape

(147, 12)

In [53]:
# 2019 Drop Unnamed column 
wh_2019.drop(columns=['Unnamed: 0'])

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,2019,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,0.0
1,Denmark,2019,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,0.0
2,Norway,2019,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,0.0
3,Iceland,2019,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,0.0
4,Netherlands,2019,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,0.0
...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,2019,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217,0.0
152,Tanzania,2019,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276,0.0
153,Afghanistan,2019,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158,0.0
154,Central African Republic,2019,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235,0.0
155,South Sudan,2019,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202,0.0

In [54]:
wh_2019_1=wh_2019.drop(columns=['Unnamed: 0'])

In [55]:
wh_2019_1.head()

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,2019,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,0.0
1,Denmark,2019,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,0.0
2,Norway,2019,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,0.0
3,Iceland,2019,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,0.0
4,Netherlands,2019,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,0.0

In [56]:
wh_2019_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      156 non-null    object
 1   year                         156 non-null    int64
 2   happiness_rank               156 non-null    int64
 3   happiness_score              156 non-null    float64
 4   economy_GDP_per_capita       156 non-null    float64
 5   family                       156 non-null    float64
 6   health_life_expectancy       156 non-null    float64
 7   freedom                      156 non-null    float64
 8   trust_government_corruption  156 non-null    float64
 9   generosity                   156 non-null    float64
 10  dystopia_residual            156 non-null    float64
dtypes: float64(8), int64(2), object(1)
memory usage: 13.5+ KB

In [57]:
wh_2019_1.shape

(156, 11)

In [58]:
# 2022 Drop Unnamed column 
wh_2022.drop(columns=['Unnamed: 0'])

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,2022,1,7.821,1.892,1.258,0.775,0.736,0.534,0.109,2.518
1,Denmark,2022,2,7.636,1.953,1.243,0.777,0.719,0.532,0.188,2.226
2,Iceland,2022,3,7.557,1.936,1.320,0.803,0.718,0.191,0.270,2.320
3,Switzerland,2022,4,7.512,2.026,1.226,0.822,0.677,0.461,0.147,2.153
4,Netherlands,2022,5,7.415,1.945,1.206,0.787,0.651,0.419,0.271,2.137
...,...,...,...,...,...,...,...,...,...,...,...
142,Rwanda*,2022,143,3.268,0.785,0.133,0.462,0.621,0.544,0.187,0.536
143,Zimbabwe,2022,144,2.995,0.947,0.690,0.270,0.329,0.105,0.106,0.548
144,Lebanon,2022,145,2.955,1.392,0.498,0.631,0.103,0.034,0.082,0.216
145,Afghanistan,2022,146,2.404,0.758,0.000,0.289,0.000,0.005,0.089,1.263
146,xx,2022,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
wh_2022_1=wh_2022.drop(columns=['Unnamed: 0'])

In [60]:
wh_2022_1.head()

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,2022,1,7.821,1.892,1.258,0.775,0.736,0.534,0.109,2.518
1,Denmark,2022,2,7.636,1.953,1.243,0.777,0.719,0.532,0.188,2.226
2,Iceland,2022,3,7.557,1.936,1.320,0.803,0.718,0.191,0.270,2.320
3,Switzerland,2022,4,7.512,2.026,1.226,0.822,0.677,0.461,0.147,2.153
4,Netherlands,2022,5,7.415,1.945,1.206,0.787,0.651,0.419,0.271,2.137

In [61]:
wh_2022_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      147 non-null    object
 1   year                         147 non-null    int64
 2   happiness_rank               147 non-null    int64
 3   happiness_score              146 non-null    float64
 4   economy_GDP_per_capita       146 non-null    float64
 5   family                       146 non-null    float64
 6   health_life_expectancy       146 non-null    float64
 7   freedom                      146 non-null    float64
 8   trust_government_corruption  146 non-null    float64
 9   generosity                   146 non-null    float64
 10  dystopia_residual            146 non-null    float64
dtypes: float64(8), int64(2), object(1)
memory usage: 12.8+ KB

In [62]:
wh_2022_1.shape

(147, 11)

## 03. Exporting data

In [64]:
# Create Path to export data
path_export=r'C:\Users\Oksana Stepanova\OneDrive\Документи\World Happiness'

In [65]:
# Replace 2019 dataframe in Prepared Data folder
wh_2019_1.to_csv(os.path.join(path_export, '02 Data', 'Prepared Data', 'wh_2019_wrangled.csv'))

In [66]:
# Replace 2022 dataframe in Prepared Data folder
wh_2022_1.to_csv(os.path.join(path_export, '02 Data', 'Prepared Data', 'wh_2022_wrangled.csv'))